*{
  box=sizing: border-box;
  padding: 0;
  margin: 0;
  }

body{
  background-color: #eab676;
  }

.container{
  margin: 80px auto;
  width: 320px;
  }

header{
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  gap: 10px;  
  width: 302px;
  height: 56px;  
}

header img{
  width: 50px;
  height: 50px;
}


header h1{
  font-size: 24px;
  letter-spacing: 3%;
  color: #1e81b0
}

.form{
  margin-top: 50px;
  width: 302px;
  margin-left: 10px;
  margin-bottom: 23px;
  }

.form form{
  display: flex;
  flex-direction: column;
  }

form label{
  font-size: 16px;
  letter-spacing: 3%;
  color: #154c79;
  margin-bottom: 10px;
}

form input{
  background-color: #eeeee4;
  border: 2px solid #063970;
  outline: none;
  color: #1e81b0;   
  margin-botton: 26px;
  }

form button{
  width: 100%;
  background-color:#063970;
  color: #ffff;
  border: none;
  cursor: pointer; 
  padding: 6px 75px;
  margin-top:12px;
  }

.Resultado {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 256px;
  margin-left: 10px;
  background-color: #063970;
  color: #ffff;
  padding: 14px 23px;    
}

.Resultado span{
  font-size: 20px;
  letter-spacing: 6%;
  }

.Resultado #Valor-Total {
  font-size: 25px;  
}

.Resultado p{
  font-size: 15px;
}

.Hidden {
  display: none;
  }